@model List<Models.ViewModel.OrderViewModel>
@{
    ViewBag.Title = "OrderDetail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


    <div class="content">

        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                <th>
                                    Tên sản phẩm
                                </th>
                                <th>
                                    Hình ảnh
                                </th>
                                <th>
                                    Số lượng
                                </th>
                                <th>
                                    Thành tiền
                                </th>

                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            
                                            <td>@item.ProductName</td>
                                            <td><img src="@item.Image"></img></td>

                                            <td>@item.Quantity</td>

                                            <td>@(item.Price.HasValue ? item.Price.Value.ToString("N0"):"")</td>


                                           

                                            
                                        </tr>
                                    }

                                </tbody>

                            </table>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



