@model List<TranKhacHuanFoodShop.Models.CartItem>
<div class="top_nav_right">
    <div class="wthreecartaits wthreecartaits2 cart cart box_1">
       
            
            <button onclick="window.location.href='/gio-hang'" class="w3view-cart" >
               <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
            </button>
            <p>@Model.Count sản phẩm</p>
       
    </div>
</div>

