@model List<Models.EF.Menu>


<div class="collapse navbar-collapse menu--shylock" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav menu__list">
        @foreach (var item in Model)
        {
            <li>
                <a class="nav-stylehead" href="@item.Link" target="@item.Target">
                    @item.Text
                    <span class="sr-only">(current)</span>
                </a>
            </li>

        }
    </ul>
</div>


