@model List<Models.EF.ProductCategory>


<div class="agileits-navi_search">
    <form action="#" method="post">
        <select id="agileinfo-nav_search" name="agileinfo_search" required="" onchange="location = this.value;">
            <option>All Categories </option>
            @foreach (var item in Model)
            {

                <option value="/san-pham/@item.MetaTitle-@item.ID">@item.Name </option>

            }

        </select>
    </form>
</div>