*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing:border-box;
}
.title{
    font-size:43px;
    margin: 50px 30%;
}
.panel-header-lg {
    height: 200px;
}
ul#myNav li a {
    display:block;
}

.single-right-left ul {
    text-decoration:none;
    
}

.single-right-left img {
    width:100%;
}

.panel-heading h2 {
    color:red!important;
}







